<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
     <h1>Login</h1>
    <form action="/login" method="POST">
        <label for="userEmail">email</label>
        <input required type="email" name="userEmail"><br/>
        <label for="userPassword">password</label><br/>
        <input required type="password" name="userPassword">
        <button type="submit">login</button>
    </form>
</head>
<body>
    
</body>
</html>