<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register User</h1>
    <form action="/register" method="POST">
        <label for="userName">username</label><br/>
        <input required type="text" name="userName"><br/>
        <label for="userEmail">email</label>
        <input required type="email" name="userEmail"><br/>
        <label for="userPassword">password</label><br/>
        <input required type="password" name="userPassword">
        <button type="submit">submit</button>
    </form>
</body>
</html>